/*  Element Styles */

* {
  box-sizing: border-box;
}
html,
body,
.content {
  height: 100%; /* needed for proper layout*/
}
body {
  display: flex;
  flex-direction: column;
  color: #0a0a0a;
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: #f5f5f3;
}
p {
  font-size: 0.95em;
  margin-bottom: 1.8em;
  margin: 0 0 0 0;
}
h1 {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #0a0a0a;
  margin: 30px auto;
}
h2 {
  font-size: 1.25em;
  font-weight: bold;
  color: #0a0a0a;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: #0a0a0a;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
#projects ul li {
  font-style: italic;
}
#projects ul li a {
  margin-left: 60px;
}
#projects ul li a:hover {
  color: #fc8312;
}

/* Navigation style */

.font-effect-fire {
  font-family: "Sofia", sans-serif;
  font-size: 60px;
  position: sticky;
  margin-left: 10%;
  top: 0;
}
header nav {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
}
header nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
header nav ul li {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}
header nav ul li a {
  color: black;
}

/*  Layout Sections  */

section {
  padding-right: 1em;
  padding-left: 1em;
}
#about p {
  padding: 20px;
}
footer p {
  flex: 0 0 auto;
  padding: 2em 0;
  margin-top: 30px;
  text-align: center;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  align-self: baseline;
}
#skills ul {
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 10px;
  display: block;
  list-style-type: square;
  margin-block-end: 1em;
  padding-inline-start: 30px;
}
#projects li {
  font-size: 19px;
}
#connect img {
  width: 45px;
  height: 45px;
  margin-bottom: 30px;
  margin-left: 30px;
}
#mail-img {
  width: 70px;
  height: 40px;
}

/*  Message Form Elements  */

form {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.message-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding-top: 20px;
}
.grid-field {
  padding: 5px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-left: 10px;
}
.item3 {
  padding: 12px 12px;
  font-weight: 300;
  font-size: 1em;
  width: 100%;
  border-radius: 5px;
  font-family: Arial;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  width: 100px;
  font-size: medium;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  grid-column-end: span 2;
  margin-left: auto;
  display: block;
}
#messages li {
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 5px;
}
#messages li a {
  text-decoration: none;
  color: #fc8312;
  font-weight: bold;
}
#messages li span {
  flex-grow: 1;
  margin-left: 10px;
}
#messages:has(ul:empty) {
  display: none;
}
.btnRemove {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.btnEdit {
  background-color: #4caf50;
  color: white;
  padding: auto;
  width: 100px;
  font-size: medium;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

/*  Media Queries   */
@media only screen and (max-width: 950px) {
  header nav ul {
    margin-left: 450px;
  }
  header nav ul li {
    display: inline-flex;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 456px) {
  header nav {
    position: sticky;
  }
  header nav ul {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
  }
  header nav ul li {
    display: inline;
  }
  h1 {
    margin: 5px auto;
  }
  #projects ul li a {
    margin-left: 50px;
  }
  #connect img {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .grid-field {
    margin-left: -10px;
  }
  .item3 {
    margin-left: -25px;
    padding: 12px 4px;
    width: 140%;
  }
  form button {
    background-color: #4caf50;
    color: white;
    padding: 8px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column-end: span 2;
    margin-left: 80%;
    display: block;
  }
  #messages li {
    margin-left: -25px;
    width: 100%;
    margin-bottom: 5px;
  }
  .btnRemove {
    width: 100px;
  }
  .btnEdit {
    width: 50px;
  }
}
